@charset "UTF-8";
body {
	font: 20px Montserrat, sans-serif;
}

p.main {
	font-style: italic;
	font-size: 2vw;
}

.bg-main {
	height: 100%;
	background-color: #f0f0f0;
	color: rgb(60, 60, 60);
	font-weight: bold;
	padding-top: 150px;
	padding-bottom: 150px;
}